{% load static %}
<!DOCTYPE html>
<head>
<!--	<title>{{title}}</title>-->
	<link type="text/css" href="{% static 'hotel/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'hotel/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
{% for m in menu %}
	{% if not forloop.last %}<li>{% else %}<li class="">{% endif %}
		<a href="{% url m.url_name %}">{{m.title}}</a></li>
{% endfor %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}
<style >
     body {
  background-image: url("{% static 'hotel/images/fon1.jpg' %}");
  background-size: 100%;
  background-attachment: fixed;
}
</style>
<!--<h1 style="margin-left:42%; color:#FAEBD7" >{{title}}</h1>-->
	<div class="outer_s">
		<div class="inner_s">
			<form  action="" method="post">
                {% csrf_token %}
					<p>Дата рабочей смены:  <input  type="date" name="work_day" style="height:20px; width:150px;"  />
				    Введите номер в гостинице:
					<select id="number" name="number_hotel" style="height:20px; width:130px">
					<option value="1">1 люкс</option>
					<option value="2">2 люкс</option>
					<option value="3">3 люкс</option>
					<option value="4">4 полу-люкс</option>
					<option value="5">5 полу-люкс</option>
					<option value="6">6 полу-люкс</option>
					<option value="7">7 стандарт</option>
					<option value="8">8 стандарт</option>
					<option value="9">9 стандарт</option>
					<option value="10">10 стандарт</option>
					<option value="11">11 стандарт</option>
					<option value="12">12 стандарт</option>
				</select>
						ID строки: <input type="number" name="room_id" style="height:20px; width:130px">
                Введите Фамилию сотрудника:  <input type="text" name="famille" style="height:20px; width:130px"></p>
                <input type="submit"  name="save" class="" value="Сохранить" style="height:30px; width:130px"/>
				<input type="submit"  name="delete" class="" value="Удалить" style="height:30px; width:130px"/>
                <input type="submit"  name="update" class="" value="Изменить" style="height:30px; width:130px"/>

            </form>
		</div>
	</div>

	<table >
		<caption>График дежурства сотрудников</caption>
	<thead>
	<tr bgcolor="#C9C0BB">
		<th  scope="col">ID строки</th>
        <th  scope="col">Фамилия сотрудника</th>
        <th  scope="col">Фото сотрудника</th>
        <th  scope="col">Дата смены</th>
        <th  scope="col">Обслуживаемый номер</th>
    </tr>
    </thead>
	</table>
	<div class="scroll-table-body">
		<table>
            <tbody>
            	{% for v in rows %}
                	<tr bgcolor="#FFFFE0">
	             	<td>{{v.room_id}}</td>
                    <td scope="row">{{v.familleEmp}}</td>
                    <td><img  class="img-article-left-thumb" src="/media/{{v.photo}}"></td>
                    <td>{{v.work_day}}</td>
                    <td>{{v.number_id}}</td>
                    </tr>
	            {% endfor %}
            </tbody>
		</table>
	</div>


<tr><td valign=top>
	<div id="footer">
		<p>&copy; 2023 Частичное или полное копирование информации с данного сайта для распространения на других ресурсах, в том числе и бумажных, строго запрещено.</p>
	</div>
</td></tr></table>

</body>
</html>